*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border-radius: 1em;
    /* background-color: aliceblue; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.part-result{
    background-color: #5a3ef9;
    height: 100%;
    width: 100%;
    border-radius: 4.5%;
    
}
.result-title{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.result-title h1{
    color: #B8A3FF;
font-size: 35px;
}
.percent{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.circle{
    border-radius: 100%;
    height: 125px;
    width: 125px;
    background-color: #4924CE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);
}
.circle h6,h1{
    color: white;
}
.circle h1{
    font-size: 60px;
}
.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* background-color: #B8A3FF; */
}
.comment p{
    width: 80%;
}
.comment h2{
    display: flex;
    height: 60%;
    margin-top: 20px;
    color: white;
    font-size: 43px;
}
.comment p {
    color: #B8A3FF;
    text-align: center;
}
.part-summary{
    height: 100%;
    width: 100%;
}
.summary-title{
    height: 60px;
    display: flex;
    align-items: center;
}
.c-bar{
    /* background-color: blueviolet; */
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.bar{
    /* border: 1px solid #000; */
    padding: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em;
}
.bar-p1{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.bt{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-1{
    background-color: #FDF6F6;
}
.color-2{
    background-color: #FDFDF0;
}
.color-3{
    background-color: #F1FBFA;
}
.color-4{
    background-color: #F3F3FF;
}
.reac{
    color: red;
}
.mem{
    color: #E7D391;
}
.ver{
    color: green;
}
.vis{
    color:#5A5E90
}

.button{
    font-size: 20px; 
    padding: 14px 90px; 
    background-color: #4924CE; 
    color: #fff; 
    border: none; 
    border-radius: 1.5em; 
    cursor: pointer; 
}
.button:hover{
    background-color: #082f60;
}
